/* Basic styling; you can customize this to make it more attractive */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color:lawngreen;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}